Flask
flask_sqlalchemy
python-dotenv
psycopg2-binary
python-dotenv
line-bot-sdk==2.4.1
pytz
psycopg2-binary
pillow
pytesseract
opencv-python-headless
numpy
gunicorn
wtforms==2.3.3
flask-admin

redis
gspread
oauth2client
