
Flask>=2.2.0
flask_sqlalchemy>=3.0.0
flask_admin>=1.6.0
python-dotenv>=1.0.0
psycopg2-binary>=2.9.0
line-bot-sdk==2.4.1
pytz>=2023.0
pillow>=10.0.0
pytesseract>=0.3.10
opencv-python-headless>=4.7.0
numpy>=1.24.0
gunicorn>=20.1.0
wtforms==2.3.3
redis>=4.5.0
