{% extends 'admin_custom_master.html' %}
{% block body %}
<div class="container" style="max-width:400px;margin-top:60px;">
  <h3>登入</h3>
{% extends 'royal_login_base.html' %}
{% block body %}
<div class="royal-card" style="max-width:400px;">
  <div class="royal-title">登入</div>
  <form method="post" action="/login">
    <input type="text" name="username" class="royal-input" placeholder="帳號" required>
    <input type="password" name="password" class="royal-input" placeholder="密碼" required>
    <button type="submit" class="royal-btn royal-effect" style="width:100%;">登入</button>
  </form>
</div>
{% endblock %}
</div>
{% endblock %}
